@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif importan!;
}

.navbar {
    background: rgb(41, 56, 96);
    background: -moz-linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#293860", endColorstr="#00d4ff", GradientType=1);
}

.navbar-nav {
    align-items: center;
}

body {
    background-color: white;
}

section {
    background-image: url("../img/background-blanco-removebg.png");
}

.navbar-nav .dropdown-menu {
    background: rgb(41, 56, 96);
    background: -moz-linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#293860", endColorstr="#00d4ff", GradientType=1);
}

.dropdown-item.active,
.dropdown-item:active {
    background: rgb(41, 56, 96);
    background: -moz-linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(41, 56, 96, 1) 0%, rgba(33, 107, 166, 0.6699054621848739) 100%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#293860", endColorstr="#00d4ff", GradientType=1);
}

.darkMode {
    background-color: black;
}

.darkMode h2 {
    color: white;
}

.darkMode .footer {
    color: white;
}

#FutbolID {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Basquet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.NBA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.titulo-principal {
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.subtitulo {
    text-align: center;
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.footer {
    text-align: center;
    color: black;
}

.contenedor__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}

.enStock {
    text-align: center;
    color: white;
    background-color: green;
}

.sinStock {
    text-align: center;
    color: white;
    background-color: red;
}

.ocultar {
    display: none;
}

.card {
    backdrop-filter: blur(15px) saturate(105%);
    -webkit-backdrop-filter: blur(15px) saturate(105%);
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 20px;
    width: 18rem;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card-title {
    text-align: center;
    color: #196cc4;
}


/* 
            Boton para cambiar el color de la pagina 
                                                            */

:root {
    /* --color-green: #00a878;
    --color-red: #fe5e41; */
    --color-button: #fdffff;
    --color-black: #000;
}

.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color-black);
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
}

.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label {
    background-color: var(--color-button);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label:before {
    transform: translateX(1rem);
}